CONFIG_KEXEC=y
CONFIG_KEXEC_FILE=y
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
CONFIG_PROC_KCORE=y
CONFIG_VHOST_VSOCK=m
CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_VDPA=m
CONFIG_VIRTIO_PMEM=m
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_INPUT=m
CONFIG_VIRTIO_MEM=m
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_DMA_SHARED_BUFFER=m
CONFIG_VIRTIO_IOMMU=y
CONFIG_VIRTIO_FS=m
CONFIG_9P_FS=m
